<div class="page-top">
  <a class="al-logo">
    <span>Chat</span>
    App
  </a>
  <a class="collapse-menu-link ion-navicon"></a>
  <benamix-user></benamix-user>

</div>

<aside class="al-sidebar">
  <ul class="al-sidebar-list">
    <li class="al-sidebar-list-item" routerLinkActive="selected">
      <a [routerLink]="['/chat']" [queryParams]="{room:'main'}" class="al-sidebar-list-link">
        <span>Main Chat</span>
      </a>
    </li>
    <li class="al-sidebar-list-item">
      <a class="al-sidebar-list-link disabled">
        <span>Disabled chat-room</span>
      </a>
    </li>
    <li class="al-sidebar-list-item" *ngFor="let user of onlineUsers" routerLinkActive="selected">
      <a  [routerLink]="['/chat']" [queryParams]="{room: user._id}"
          class="al-sidebar-list-link"
          [class.disabled]="!user.online">
        <span>{{user.name}}</span>
      </a>
    </li>
  </ul>
</aside>


<benamix-private
  [currentUser]="currentUser"
  [roomId]="roomId"
  [serverMessages]="serverMessages"
  (messageSubmit)="sendMessage($event)"></benamix-private>
