<div class="page-top">
  <a class="al-logo">
    <span>Chat</span>
    App
  </a>
  <a class="collapse-menu-link ion-navicon"></a>
  <benamix-user></benamix-user>

</div>

<aside class="al-sidebar">
  <ul class="al-sidebar-list">
    <li class="al-sidebar-list-item" routerLinkActive="selected">
      <a class="al-sidebar-list-link" [routerLink]="['/chat', 'room', 'main-chat']">
        <span>Main Chat</span>
        <span class="new-message public">5</span>
        <figure class="notification-ring"></figure>
      </a>
    </li>
    <li class="al-sidebar-list-item" routerLinkActive="selected">
      <a class="al-sidebar-list-link" [routerLink]="['/chat', 'private', 'alex']">
        <span>OurChat</span>
        <span class="new-message private">22</span>
        <figure class="notification-ring"></figure>
      </a>
    </li>
    <li class="al-sidebar-list-item">
      <a class="al-sidebar-list-link">
        <span>Main Chat</span>
      </a>
    </li>
  </ul>
</aside>


<router-outlet></router-outlet>
