<div class="page-top">
  <a class="al-logo">
    <span>Chat</span>
    App
  </a>
  <a class="collapse-menu-link ion-navicon"></a>
  <benamix-user></benamix-user>

</div>

<aside class="al-sidebar">
  <ul class="al-sidebar-list">
    <li class="al-sidebar-list-item selected">
      <a class="al-sidebar-list-link">
        <span>Main Chat</span>
        <!--<span class="new-messageTextField public">5</span>-->
        <!--<figure class="notification-ring"></figure>-->
      </a>
    </li>
    <li class="al-sidebar-list-item">
      <a class="al-sidebar-list-link disabled">
        <span>Disabled chat-room</span>
      </a>
    </li>
    <!--<li class="al-sidebar-list-item" *ngFor="let user of room.onlineUsers">-->
      <!--<a class="al-sidebar-list-link" [class.disabled]="!user.online">-->
        <!--<span>{{user.name}}</span>-->
      <!--</a>-->
    <!--</li>-->
  </ul>
</aside>


<benamix-private></benamix-private>
