@keyframes server {
  0% {
    background: #FFFFFF;
  }
  24% {
    background: transparent;
  }
  26% {
    background: #FFFFFF;
  }
  48% {
    background: transparent;
  }
  50% {
    background: #FFFFFF;
  }
  74% {
    background: transparent;
  }
  76% {
    background: #FFFFFF;
  }
  100% {
    background: transparent;
  }
}

@keyframes serverMessage {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.cd-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.panel.panel-blur {
  position: fixed;
  bottom: 0;
  right: 25px;
  left: 210px;
  background-attachment: initial;
}

.instruction {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .instruction-list {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    align-items: baseline;
    user-select: none;
    .instruction-item {
      background-color: transparent;
      border: none;
      color: rgba(236, 236, 236, 0.25);
      height: 20px;
      padding: 0;
      cursor: default;
      h3 {
        margin-bottom: 0;
      }
      b {
        font-family: 'Montserrat-Bold', sans-serif !important;
      }
    }
    &.enabled-mods {
      color: rgba(236, 236, 236, 0.65);
      cursor: pointer;
      .instruction-item {
        color: rgba(236, 236, 236, 0.65);
      }
      .instruction-item:hover {
        cursor: pointer;
        color: #4eb14a;
      }
    }
  }

}


.panel-body-messages {
  height: calc(100vh - 205px);
  min-height: calc(100vh - 205px);
  max-height: calc(100vh - 205px);
  display: flex;
  overflow-y: scroll;
}

textarea.form-control, input.form-control {
  width: calc(100% - 150px) !important;
  resize: both;
  min-height: 67px;
  height: 67px;
  max-height: 94px;
}

.send-flex {
  display: flex;
}

.current {
  color: #84ac57;
}

.online, .online-users {
  &:before {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    width: 8px;
    height: 8px;
    box-shadow: 1px 1px 8px #000;
    background-color: #4eb14a;
  }
}

.cd-timeline-img {
  i {
    padding: 6px 9px;
    font-size: 50px;
    color: dimgrey;
    &:after {
      content: '';
      position: absolute;
      top: 13px;
      right: 6px;
      width: 5px;
      height: 5px;
      background: #FFF;
      animation: server 8s infinite;
      z-index: -1;
    }
  }
}

.server {
  position: fixed;
  bottom: 66px;
  right: 47px;
  z-index: 666;
  min-width: 246px;;
  animation: serverMessage 6s;
  animation-fill-mode: forwards;
}

code {
  white-space: pre;
}

.remove-message {
  position: absolute;
  right: 30px;
  top: 5px;
  color: #cc2b2b;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  &:hover {
    color: red;
  }
}

#message-text-area {
  position: relative;
  & ~ .clear-message {
    position: absolute;
    right: 180px;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  &:hover ~ .clear-message {
    opacity: 1;
    visibility: visible;
    color: #cc2b2b;
    transition: all 0.2s ease-in-out;
  }
}

.clear-message:hover,
.clear-message i:hover {
  opacity: 1 !important;
  visibility: visible !important;
  color: red;
  transition: all 0.2s ease-in-out;
}

.quote-message {
  position: absolute;
  right: 10px;
  top: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: rgba(34, 139, 34, 0.56);
  opacity: 0;
  visibility: hidden;
  &:hover {
    color: forestgreen;

  }
}

.cd-timeline-content {
  &:hover > .quote-message,
  &:hover > .remove-message {
    opacity: 1;
    visibility: visible;
  }
}

.panel.with-scroll .panel-body.with-emo {
  overflow: visible;
}

.emoji-toggler {
  position: absolute;
  right: 200px;
  bottom: calc(100% - 30px);
  cursor: pointer;
  &:hover ~ .emoji-wrapper {
    opacity: 1;
    visibility: visible;
  }
}

.emoji-wrapper {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 12px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 666;
  padding: 10px 10px 0 148px;
  max-width: 650px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 1;
    visibility: visible;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    display: block;
    height: 30px;
    max-width: 650px;
    width: calc(100% - 150px);
  }
  span {
    cursor: pointer;
    i {

      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
  .emoji-preview {
    display: block;
    position: absolute;
    left: 15px;
  }
}

.private-if {
  display: none;
}