<div class="al-main">
  <div class="al-content">
    <div class="content-top">
      <div class="al-title">
      </div>
    </div>
    <div class="widgets">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-blur with-scroll animated zoomIn" *ngIf="serverMessages">
            <div class="panel-body panel-body-messages">
              <section class="cd-container">

                <div class="cd-timeline-block" *ngFor="let message of serverMessages"
                     [class.server]="message.sender_id === '666'">
                  <div class="cd-timeline-img" *ngIf="message.sender !== 'server'">
                    <img *ngIf="message.sender !== currentUser.name" src="../../assets/img/face.svg"
                         alt="">
                    <img *ngIf="message.sender === currentUser.name"
                         src="../../assets/img/app/profile/81.jpg" alt="">
                  </div>
                  <div class="cd-timeline-img" *ngIf="message.sender === 'server'">
                    <i class="fas fa-server"></i>
                  </div>
                  <div class="cd-timeline-content  warning">
                    <h5 class="user-name"
                        benamixOnline
                        [class.online]="currentUser.online && message.sender_id === currentUser._id"
                        [class.current]="message.sender_id === currentUser._id">
                      {{ message.sender }}
                    </h5>
                    <div class="user-message" [innerHtml]="message.content | prettyPrint" (select)="onMessageSelect($event, message)">

                    </div>
                    <span class="cd-date">{{ message.date | date:'medium' }}</span>
                    <span class="remove-message" *ngIf="message.sender === currentUser.name"
                          (click)="removeMessage(message._id)"><i class="fas fa-times"></i></span>
                      <span class="quote-message"
                            (click)="quoteMessage(message)"><i class="fas fa-quote-right"></i></span>
                  </div>
                </div>
              </section>
            </div>
            <div class="panel-body">
              <form class="row form-inline" [formGroup]="sendForm" autocomplete="off"
                    (submit)="onSubmit()">
                <div class="form-group col-md-12">
                  <div class="row">
                    <div class="col-md-12 send-flex">
                      <textarea class="form-control"
                                placeholder="Текст сообщения..."
                                rows="2"
                                [(ngModel)]="messageTextField"
                                (mouseup)="selectionChange($event)"
                                required
                                autofocus
                                id="message-text-area"
                                formControlName="message"></textarea>
                        <span class="clear-message" *ngIf="messageTextField.length > 0"
                              (click)="clearField()"><i class="fas fa-times"></i></span>
                        <div class="instruction">
                            <button type="submit" class="btn btn-default btn-raised"
                                    [disabled]="!sendForm.valid">
                                Отправить
                            </button>
                            <div class="instruction-list" [class.enabled-mods]="placement.selection.length > 0">
                                <div class="instruction-item" (click)="replaceExtension('*')" [innerHTML]="instruction.bold | prettyPrint "></div>
                                <div class="instruction-item" (click)="replaceExtension('~')" [innerHTML]="instruction.italic | prettyPrint "></div>
                                <div class="instruction-item" (click)="replaceExtension('^')" [innerHTML]="instruction.header | prettyPrint "></div>
                                <div class="instruction-item" (click)="replaceExtension('_')" [innerHTML]="instruction.underlined | prettyPrint"></div>
                                <div class="instruction-item" (click)="replaceExtension('``')" [innerHTML]="instruction.sub | prettyPrint "></div>
                                <div class="instruction-item" (click)="replaceExtension(',,')" [innerHTML]="instruction.sup | prettyPrint "></div>
                                <div class="instruction-item" (click)="replaceExtension('--')" [innerHTML]="instruction.strike | prettyPrint "></div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
