<div class="page-top">
  <a class="al-logo" [routerLink]="['/chat']">
    <span>Chat</span>
    App
  </a>
  <a class="collapse-menu-link ion-navicon"></a>
</div>

<aside class="al-sidebar">
  <ul class="al-sidebar-list">
    <li class="al-sidebar-list-item selected">
      <a class="al-sidebar-list-link">
        <span>Credentials</span>
        <!--<span class="new-messageTextField public">5</span>-->
        <!--<figure class="notification-ring"></figure>-->
      </a>
    </li>
    <li class="al-sidebar-list-item">
      <a class="al-sidebar-list-link disabled">
        <span>Disabled link</span>
      </a>
    </li>
  </ul>
</aside>


<router-outlet></router-outlet>
