$icomoon-font-path: "./assets/fonts" !default;

$icon-angel-path1: "\e900";
$icon-angel-path2: "\e901";
$icon-angel-path3: "\e902";
$icon-angel-path4: "\e903";
$icon-angel-path5: "\e904";
$icon-angel-path6: "\e905";
$icon-angel-path7: "\e906";
$icon-angry-path1: "\e907";
$icon-angry-path2: "\e908";
$icon-angry-path3: "\e909";
$icon-angry-path4: "\e90a";
$icon-angry-path5: "\e90b";
$icon-angry-path6: "\e90c";
$icon-angry-1-path1: "\e90d";
$icon-angry-1-path2: "\e90e";
$icon-angry-1-path3: "\e90f";
$icon-angry-1-path4: "\e910";
$icon-angry-1-path5: "\e911";
$icon-angry-1-path6: "\e912";
$icon-angry-1-path7: "\e913";
$icon-angry-1-path8: "\e914";
$icon-arrogant-path1: "\e915";
$icon-arrogant-path2: "\e916";
$icon-arrogant-path3: "\e917";
$icon-arrogant-path4: "\e918";
$icon-arrogant-path5: "\e919";
$icon-arrogant-path6: "\e91a";
$icon-bored-path1: "\e91b";
$icon-bored-path2: "\e91c";
$icon-bored-path3: "\e91d";
$icon-bored-path4: "\e91e";
$icon-bored-path5: "\e91f";
$icon-bored-path6: "\e920";
$icon-cool-path1: "\e921";
$icon-cool-path2: "\e922";
$icon-cool-path3: "\e923";
$icon-cool-path4: "\e924";
$icon-cool-path5: "\e925";
$icon-cool-path6: "\e926";
$icon-cool-path7: "\e927";
$icon-cool-path8: "\e928";
$icon-cool-1-path1: "\e929";
$icon-cool-1-path2: "\e92a";
$icon-cool-1-path3: "\e92b";
$icon-cool-1-path4: "\e92c";
$icon-crying-path1: "\e92d";
$icon-crying-path2: "\e92e";
$icon-crying-path3: "\e92f";
$icon-crying-path4: "\e930";
$icon-crying-path5: "\e931";
$icon-crying-path6: "\e932";
$icon-crying-path7: "\e933";
$icon-crying-path8: "\e934";
$icon-crying-1-path1: "\e935";
$icon-crying-1-path2: "\e936";
$icon-crying-1-path3: "\e937";
$icon-crying-1-path4: "\e938";
$icon-crying-1-path5: "\e939";
$icon-crying-1-path6: "\e93a";
$icon-crying-1-path7: "\e93b";
$icon-crying-1-path8: "\e93c";
$icon-crying-1-path9: "\e93d";
$icon-crying-1-path10: "\e93e";
$icon-crying-2-path1: "\e93f";
$icon-crying-2-path2: "\e940";
$icon-crying-2-path3: "\e941";
$icon-crying-2-path4: "\e942";
$icon-crying-2-path5: "\e943";
$icon-crying-2-path6: "\e944";
$icon-crying-2-path7: "\e945";
$icon-crying-2-path8: "\e946";
$icon-crying-2-path9: "\e947";
$icon-crying-2-path10: "\e948";
$icon-cute-path1: "\e949";
$icon-cute-path2: "\e94a";
$icon-cute-path3: "\e94b";
$icon-cute-path4: "\e94c";
$icon-cute-path5: "\e94d";
$icon-cute-path6: "\e94e";
$icon-cute-path7: "\e94f";
$icon-embarrassed-path1: "\e950";
$icon-embarrassed-path2: "\e951";
$icon-embarrassed-path3: "\e952";
$icon-embarrassed-path4: "\e953";
$icon-embarrassed-path5: "\e954";
$icon-embarrassed-path6: "\e955";
$icon-embarrassed-path7: "\e956";
$icon-embarrassed-path8: "\e957";
$icon-emoji-path1: "\e958";
$icon-emoji-path2: "\e959";
$icon-emoji-path3: "\e95a";
$icon-emoji-path4: "\e95b";
$icon-emoji-path5: "\e95c";
$icon-emoji-path6: "\e95d";
$icon-emoji-path7: "\e95e";
$icon-greed-path1: "\e95f";
$icon-greed-path2: "\e960";
$icon-greed-path3: "\e961";
$icon-greed-path4: "\e962";
$icon-greed-path5: "\e963";
$icon-greed-path6: "\e964";
$icon-greed-path7: "\e965";
$icon-greed-path8: "\e966";
$icon-happy-path1: "\e967";
$icon-happy-path2: "\e968";
$icon-happy-path3: "\e969";
$icon-happy-path4: "\e96a";
$icon-happy-path5: "\e96b";
$icon-happy-path6: "\e96c";
$icon-happy-path7: "\e96d";
$icon-happy-path8: "\e96e";
$icon-happy-1-path1: "\e96f";
$icon-happy-1-path2: "\e970";
$icon-happy-1-path3: "\e971";
$icon-happy-1-path4: "\e972";
$icon-happy-1-path5: "\e973";
$icon-happy-1-path6: "\e974";
$icon-happy-1-path7: "\e975";
$icon-happy-1-path8: "\e976";
$icon-happy-1-path9: "\e977";
$icon-happy-2-path1: "\e978";
$icon-happy-2-path2: "\e979";
$icon-happy-2-path3: "\e97a";
$icon-happy-2-path4: "\e97b";
$icon-happy-2-path5: "\e97c";
$icon-happy-2-path6: "\e97d";
$icon-happy-3-path1: "\e97e";
$icon-happy-3-path2: "\e97f";
$icon-happy-3-path3: "\e980";
$icon-happy-3-path4: "\e981";
$icon-happy-3-path5: "\e982";
$icon-happy-3-path6: "\e983";
$icon-happy-4-path1: "\e984";
$icon-happy-4-path2: "\e985";
$icon-happy-4-path3: "\e986";
$icon-happy-4-path4: "\e987";
$icon-happy-4-path5: "\e988";
$icon-happy-4-path6: "\e989";
$icon-happy-4-path7: "\e98a";
$icon-happy-5-path1: "\e98b";
$icon-happy-5-path2: "\e98c";
$icon-happy-5-path3: "\e98d";
$icon-happy-5-path4: "\e98e";
$icon-happy-5-path5: "\e98f";
$icon-happy-5-path6: "\e990";
$icon-happy-5-path7: "\e991";
$icon-happy-6-path1: "\e992";
$icon-happy-6-path2: "\e993";
$icon-happy-6-path3: "\e994";
$icon-happy-6-path4: "\e995";
$icon-happy-6-path5: "\e996";
$icon-happy-6-path6: "\e997";
$icon-happy-6-path7: "\e998";
$icon-happy-7-path1: "\e999";
$icon-happy-7-path2: "\e99a";
$icon-happy-7-path3: "\e99b";
$icon-happy-7-path4: "\e99c";
$icon-happy-7-path5: "\e99d";
$icon-happy-7-path6: "\e99e";
$icon-in-love-path1: "\e99f";
$icon-in-love-path2: "\e9a0";
$icon-in-love-path3: "\e9a1";
$icon-in-love-path4: "\e9a2";
$icon-in-love-path5: "\e9a3";
$icon-in-love-path6: "\e9a4";
$icon-in-love-path7: "\e9a5";
$icon-kiss-path1: "\e9a6";
$icon-kiss-path2: "\e9a7";
$icon-kiss-path3: "\e9a8";
$icon-kiss-path4: "\e9a9";
$icon-kiss-path5: "\e9aa";
$icon-kiss-path6: "\e9ab";
$icon-kiss-path7: "\e9ac";
$icon-kiss-1-path1: "\e9ad";
$icon-kiss-1-path2: "\e9ae";
$icon-kiss-1-path3: "\e9af";
$icon-kiss-1-path4: "\e9b0";
$icon-kiss-1-path5: "\e9b1";
$icon-kiss-1-path6: "\e9b2";
$icon-laughing-path1: "\e9b3";
$icon-laughing-path2: "\e9b4";
$icon-laughing-path3: "\e9b5";
$icon-laughing-path4: "\e9b6";
$icon-laughing-path5: "\e9b7";
$icon-laughing-path6: "\e9b8";
$icon-laughing-path7: "\e9b9";
$icon-laughing-path8: "\e9ba";
$icon-laughing-1-path1: "\e9bb";
$icon-laughing-1-path2: "\e9bc";
$icon-laughing-1-path3: "\e9bd";
$icon-laughing-1-path4: "\e9be";
$icon-laughing-1-path5: "\e9bf";
$icon-laughing-1-path6: "\e9c0";
$icon-laughing-1-path7: "\e9c1";
$icon-laughing-1-path8: "\e9c2";
$icon-laughing-1-path9: "\e9c3";
$icon-laughing-1-path10: "\e9c4";
$icon-laughing-1-path11: "\e9c5";
$icon-laughing-2-path1: "\e9c6";
$icon-laughing-2-path2: "\e9c7";
$icon-laughing-2-path3: "\e9c8";
$icon-laughing-2-path4: "\e9c9";
$icon-laughing-2-path5: "\e9ca";
$icon-laughing-2-path6: "\e9cb";
$icon-laughing-2-path7: "\e9cc";
$icon-muted-path1: "\e9cd";
$icon-muted-path2: "\e9ce";
$icon-muted-path3: "\e9cf";
$icon-muted-path4: "\e9d0";
$icon-muted-path5: "\e9d1";
$icon-nerd-path1: "\e9d2";
$icon-nerd-path2: "\e9d3";
$icon-nerd-path3: "\e9d4";
$icon-nerd-path4: "\e9d5";
$icon-nerd-path5: "\e9d6";
$icon-nerd-path6: "\e9d7";
$icon-nerd-path7: "\e9d8";
$icon-nerd-path8: "\e9d9";
$icon-sad-path1: "\e9da";
$icon-sad-path2: "\e9db";
$icon-sad-path3: "\e9dc";
$icon-sad-path4: "\e9dd";
$icon-sad-path5: "\e9de";
$icon-sad-path6: "\e9df";
$icon-sad-path7: "\e9e0";
$icon-sad-path8: "\e9e1";
$icon-sad-1-path1: "\e9e2";
$icon-sad-1-path2: "\e9e3";
$icon-sad-1-path3: "\e9e4";
$icon-sad-1-path4: "\e9e5";
$icon-sad-1-path5: "\e9e6";
$icon-sad-1-path6: "\e9e7";
$icon-sad-2-path1: "\e9e8";
$icon-sad-2-path2: "\e9e9";
$icon-sad-2-path3: "\e9ea";
$icon-sad-2-path4: "\e9eb";
$icon-sad-2-path5: "\e9ec";
$icon-sad-2-path6: "\e9ed";
$icon-scare-path1: "\e9ee";
$icon-scare-path2: "\e9ef";
$icon-scare-path3: "\e9f0";
$icon-scare-path4: "\e9f1";
$icon-scare-path5: "\e9f2";
$icon-serious-path1: "\e9f3";
$icon-serious-path2: "\e9f4";
$icon-serious-path3: "\e9f5";
$icon-serious-path4: "\e9f6";
$icon-serious-path5: "\e9f7";
$icon-serious-path6: "\e9f8";
$icon-serious-path7: "\e9f9";
$icon-serious-path8: "\e9fa";
$icon-shocked-path1: "\e9fb";
$icon-shocked-path2: "\e9fc";
$icon-shocked-path3: "\e9fd";
$icon-shocked-path4: "\e9fe";
$icon-shocked-path5: "\e9ff";
$icon-shocked-path6: "\ea00";
$icon-sick-path1: "\ea01";
$icon-sick-path2: "\ea02";
$icon-sick-path3: "\ea03";
$icon-sick-path4: "\ea04";
$icon-sick-path5: "\ea05";
$icon-sick-path6: "\ea06";
$icon-sick-path7: "\ea07";
$icon-sick-path8: "\ea08";
$icon-sleepy-path1: "\ea09";
$icon-sleepy-path2: "\ea0a";
$icon-sleepy-path3: "\ea0b";
$icon-sleepy-path4: "\ea0c";
$icon-sleepy-path5: "\ea0d";
$icon-sleepy-path6: "\ea0e";
$icon-sleepy-path7: "\ea0f";
$icon-sleepy-path8: "\ea10";
$icon-sleepy-path9: "\ea11";
$icon-smart-path1: "\ea12";
$icon-smart-path2: "\ea13";
$icon-smart-path3: "\ea14";
$icon-smart-path4: "\ea15";
$icon-smart-path5: "\ea16";
$icon-smart-path6: "\ea17";
$icon-smart-path7: "\ea18";
$icon-surprised-path1: "\ea19";
$icon-surprised-path2: "\ea1a";
$icon-surprised-path3: "\ea1b";
$icon-surprised-path4: "\ea1c";
$icon-surprised-path5: "\ea1d";
$icon-surprised-path6: "\ea1e";
$icon-surprised-path7: "\ea1f";
$icon-surprised-path8: "\ea20";
$icon-surprised-1-path1: "\ea21";
$icon-surprised-1-path2: "\ea22";
$icon-surprised-1-path3: "\ea23";
$icon-surprised-1-path4: "\ea24";
$icon-surprised-1-path5: "\ea25";
$icon-surprised-1-path6: "\ea26";
$icon-surprised-1-path7: "\ea27";
$icon-surprised-1-path8: "\ea28";
$icon-surprised-1-path9: "\ea29";
$icon-surprised-2-path1: "\ea2a";
$icon-surprised-2-path2: "\ea2b";
$icon-surprised-2-path3: "\ea2c";
$icon-surprised-2-path4: "\ea2d";
$icon-surprised-2-path5: "\ea2e";
$icon-surprised-2-path6: "\ea2f";
$icon-surprised-2-path7: "\ea30";
$icon-surprised-2-path8: "\ea31";
$icon-surprised-3-path1: "\ea32";
$icon-surprised-3-path2: "\ea33";
$icon-surprised-3-path3: "\ea34";
$icon-surprised-3-path4: "\ea35";
$icon-surprised-3-path5: "\ea36";
$icon-surprised-3-path6: "\ea37";
$icon-surprised-3-path7: "\ea38";
$icon-surprised-4-path1: "\ea39";
$icon-surprised-4-path2: "\ea3a";
$icon-surprised-4-path3: "\ea3b";
$icon-surprised-4-path4: "\ea3c";
$icon-surprised-4-path5: "\ea3d";
$icon-surprised-4-path6: "\ea3e";
$icon-surprised-4-path7: "\ea3f";
$icon-surprised-4-path8: "\ea40";
$icon-surprised-4-path9: "\ea41";
$icon-surprised-4-path10: "\ea42";
$icon-suspicious-path1: "\ea43";
$icon-suspicious-path2: "\ea44";
$icon-suspicious-path3: "\ea45";
$icon-suspicious-path4: "\ea46";
$icon-suspicious-path5: "\ea47";
$icon-suspicious-path6: "\ea48";
$icon-suspicious-path7: "\ea49";
$icon-suspicious-path8: "\ea4a";
$icon-suspicious-path9: "\ea4b";
$icon-suspicious-path10: "\ea4c";
$icon-tongue-path1: "\ea4d";
$icon-tongue-path2: "\ea4e";
$icon-tongue-path3: "\ea4f";
$icon-tongue-path4: "\ea50";
$icon-tongue-path5: "\ea51";
$icon-tongue-path6: "\ea52";
$icon-tongue-path7: "\ea53";
$icon-tongue-path8: "\ea54";
$icon-vain-path1: "\ea55";
$icon-vain-path2: "\ea56";
$icon-vain-path3: "\ea57";
$icon-vain-path4: "\ea58";
$icon-vain-path5: "\ea59";
$icon-vain-path6: "\ea5a";
$icon-vain-path7: "\ea5b";
$icon-vain-path8: "\ea5c";
$icon-wink-path1: "\ea5d";
$icon-wink-path2: "\ea5e";
$icon-wink-path3: "\ea5f";
$icon-wink-path4: "\ea60";
$icon-wink-path5: "\ea61";
$icon-wink-path6: "\ea62";
$icon-wink-path7: "\ea63";
$icon-wink-path8: "\ea64";
$icon-wink-1-path1: "\ea65";
$icon-wink-1-path2: "\ea66";
$icon-wink-1-path3: "\ea67";
$icon-wink-1-path4: "\ea68";
$icon-wink-1-path5: "\ea69";
$icon-wink-1-path6: "\ea6a";
$icon-home: "\ea6b";
$icon-pencil: "\ea6c";
$icon-pencil2: "\ea6d";
$icon-image: "\ea6e";
$icon-dice: "\ea6f";
$icon-file-picture: "\ea70";
$icon-price-tag: "\ea71";
$icon-price-tags: "\ea72";
$icon-qrcode: "\ea73";
$icon-address-book: "\ea74";
$icon-bubble: "\ea75";
$icon-bubbles: "\ea76";
$icon-bubble2: "\ea77";
$icon-bubbles3: "\ea78";
$icon-user: "\ea79";
$icon-users: "\ea7a";
$icon-user-tie: "\ea7b";
$icon-quotes-left: "\ea7c";
$icon-quotes-right: "\ea7d";
$icon-spinner9: "\ea7e";
$icon-search: "\ea7f";
$icon-key: "\ea80";
$icon-cog: "\ea81";
$icon-cogs: "\ea82";
$icon-magnet: "\ea83";
$icon-bin: "\ea84";
$icon-airplane: "\ea85";
$icon-switch: "\ea86";
$icon-earth: "\ea87";
$icon-eye: "\ea88";
$icon-eye-blocked: "\ea89";
$icon-heart: "\ea8a";
$icon-heart-broken: "\ea8b";
$icon-notification: "\ea8c";
$icon-plus: "\ea8d";
$icon-minus: "\ea8e";
$icon-info: "\ea8f";
$icon-blocked: "\ea90";
$icon-cross: "\ea91";
$icon-checkmark: "\ea92";
$icon-enter: "\ea93";
$icon-exit: "\ea94";
$icon-play3: "\ea95";
$icon-pause2: "\ea96";
$icon-loop2: "\ea97";
$icon-checkbox-checked: "\ea98";
$icon-checkbox-unchecked: "\ea99";

