.emo:not(.sm){ display: inline-block; background: url('./assets/img/png.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.benamix-angel:not(.sm) { background-position: -0px -0px; width: 128px; height: 128px; }
.benamix-angry-1:not(.sm) { background-position: -128px -0px; width: 128px; height: 128px; }
.benamix-angry:not(.sm) { background-position: -256px -0px; width: 128px; height: 128px; }
.benamix-arrogant:not(.sm) { background-position: -384px -0px; width: 128px; height: 128px; }
.benamix-bored:not(.sm) { background-position: -512px -0px; width: 128px; height: 128px; }
.benamix-confused:not(.sm) { background-position: -640px -0px; width: 128px; height: 128px; }
.benamix-cool-1:not(.sm) { background-position: -768px -0px; width: 128px; height: 128px; }
.benamix-cool:not(.sm) { background-position: -0px -128px; width: 128px; height: 128px; }
.benamix-crying-1:not(.sm) { background-position: -128px -128px; width: 128px; height: 128px; }
.benamix-crying-2:not(.sm) { background-position: -256px -128px; width: 128px; height: 128px; }
.benamix-crying:not(.sm) { background-position: -384px -128px; width: 128px; height: 128px; }
.benamix-cute:not(.sm) { background-position: -512px -128px; width: 128px; height: 128px; }
.benamix-embarrassed:not(.sm) { background-position: -640px -128px; width: 128px; height: 128px; }
.benamix-greed:not(.sm) { background-position: -768px -128px; width: 128px; height: 128px; }
.benamix-happy-1:not(.sm) { background-position: -0px -256px; width: 128px; height: 128px; }
.benamix-happy-2:not(.sm) { background-position: -128px -256px; width: 128px; height: 128px; }
.benamix-happy-3:not(.sm) { background-position: -256px -256px; width: 128px; height: 128px; }
.benamix-happy-4:not(.sm) { background-position: -384px -256px; width: 128px; height: 128px; }
.benamix-happy-5:not(.sm) { background-position: -512px -256px; width: 128px; height: 128px; }
.benamix-happy-6:not(.sm) { background-position: -640px -256px; width: 128px; height: 128px; }
.benamix-happy-7:not(.sm) { background-position: -768px -256px; width: 128px; height: 128px; }
.benamix-happy:not(.sm) { background-position: -0px -384px; width: 128px; height: 128px; }
.benamix-in-love:not(.sm) { background-position: -128px -384px; width: 128px; height: 128px; }
.benamix-kiss-1:not(.sm) { background-position: -256px -384px; width: 128px; height: 128px; }
.benamix-kiss:not(.sm) { background-position: -384px -384px; width: 128px; height: 128px; }
.benamix-laughing-1:not(.sm) { background-position: -512px -384px; width: 128px; height: 128px; }
.benamix-laughing-2:not(.sm) { background-position: -640px -384px; width: 128px; height: 128px; }
.benamix-laughing:not(.sm) { background-position: -768px -384px; width: 128px; height: 128px; }
.benamix-muted:not(.sm) { background-position: -0px -512px; width: 128px; height: 128px; }
.benamix-nerd:not(.sm) { background-position: -128px -512px; width: 128px; height: 128px; }
.benamix-sad-1:not(.sm) { background-position: -256px -512px; width: 128px; height: 128px; }
.benamix-sad-2:not(.sm) { background-position: -384px -512px; width: 128px; height: 128px; }
.benamix-sad:not(.sm) { background-position: -512px -512px; width: 128px; height: 128px; }
.benamix-scare:not(.sm) { background-position: -640px -512px; width: 128px; height: 128px; }
.benamix-serious:not(.sm) { background-position: -768px -512px; width: 128px; height: 128px; }
.benamix-shocked:not(.sm) { background-position: -0px -640px; width: 128px; height: 128px; }
.benamix-sick:not(.sm) { background-position: -128px -640px; width: 128px; height: 128px; }
.benamix-sleepy:not(.sm) { background-position: -256px -640px; width: 128px; height: 128px; }
.benamix-smart:not(.sm) { background-position: -384px -640px; width: 128px; height: 128px; }
.benamix-surprised-1:not(.sm) { background-position: -512px -640px; width: 128px; height: 128px; }
.benamix-surprised-2:not(.sm) { background-position: -640px -640px; width: 128px; height: 128px; }
.benamix-surprised-3:not(.sm) { background-position: -768px -640px; width: 128px; height: 128px; }
.benamix-surprised-4:not(.sm) { background-position: -0px -768px; width: 128px; height: 128px; }
.benamix-surprised:not(.sm) { background-position: -128px -768px; width: 128px; height: 128px; }
.benamix-suspicious:not(.sm) { background-position: -256px -768px; width: 128px; height: 128px; }
.benamix-tongue:not(.sm) { background-position: -384px -768px; width: 128px; height: 128px; }
.benamix-vain:not(.sm) { background-position: -512px -768px; width: 128px; height: 128px; }
.benamix-wink-1:not(.sm) { background-position: -640px -768px; width: 128px; height: 128px; }
.benamix-wink:not(.sm) { background-position: -768px -768px; width: 128px; height: 128px; }

.emo.sm{
  display: inline-block;
  background: url('./assets/img/sm.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.sm.benamix-sm-angel { background-position: -0px -0px; width: 64px; height: 64px; }
.sm.benamix-sm-angry-1 { background-position: -64px -0px; width: 64px; height: 64px; }
.sm.benamix-sm-angry { background-position: -128px -0px; width: 64px; height: 64px; }
.sm.benamix-sm-arrogant { background-position: -192px -0px; width: 64px; height: 64px; }
.sm.benamix-sm-bored { background-position: -256px -0px; width: 64px; height: 64px; }
.sm.benamix-sm-confused { background-position: -320px -0px; width: 64px; height: 64px; }
.sm.benamix-sm-cool-1 { background-position: -384px -0px; width: 64px; height: 64px; }
.sm.benamix-sm-cool { background-position: -0px -64px; width: 64px; height: 64px; }
.sm.benamix-sm-crying-1 { background-position: -64px -64px; width: 64px; height: 64px; }
.sm.benamix-sm-crying-2 { background-position: -128px -64px; width: 64px; height: 64px; }
.sm.benamix-sm-crying { background-position: -192px -64px; width: 64px; height: 64px; }
.sm.benamix-sm-cute { background-position: -256px -64px; width: 64px; height: 64px; }
.sm.benamix-sm-embarrassed { background-position: -320px -64px; width: 64px; height: 64px; }
.sm.benamix-sm-emoji { background-position: -384px -64px; width: 64px; height: 64px; }
.sm.benamix-sm-greed { background-position: -0px -128px; width: 64px; height: 64px; }
.sm.benamix-sm-happy-1 { background-position: -64px -128px; width: 64px; height: 64px; }
.sm.benamix-sm-happy-2 { background-position: -128px -128px; width: 64px; height: 64px; }
.sm.benamix-sm-happy-3 { background-position: -192px -128px; width: 64px; height: 64px; }
.sm.benamix-sm-happy-4 { background-position: -256px -128px; width: 64px; height: 64px; }
.sm.benamix-sm-happy-5 { background-position: -320px -128px; width: 64px; height: 64px; }
.sm.benamix-sm-happy-6 { background-position: -384px -128px; width: 64px; height: 64px; }
.sm.benamix-sm-happy-7 { background-position: -0px -192px; width: 64px; height: 64px; }
.sm.benamix-sm-happy { background-position: -64px -192px; width: 64px; height: 64px; }
.sm.benamix-sm-in-love { background-position: -128px -192px; width: 64px; height: 64px; }
.sm.benamix-sm-kiss-1 { background-position: -192px -192px; width: 64px; height: 64px; }
.sm.benamix-sm-kiss { background-position: -256px -192px; width: 64px; height: 64px; }
.sm.benamix-sm-laughing-1 { background-position: -320px -192px; width: 64px; height: 64px; }
.sm.benamix-sm-laughing-2 { background-position: -384px -192px; width: 64px; height: 64px; }
.sm.benamix-sm-laughing { background-position: -0px -256px; width: 64px; height: 64px; }
.sm.benamix-sm-muted { background-position: -64px -256px; width: 64px; height: 64px; }
.sm.benamix-sm-nerd { background-position: -128px -256px; width: 64px; height: 64px; }
.sm.benamix-sm-sad-1 { background-position: -192px -256px; width: 64px; height: 64px; }
.sm.benamix-sm-sad-2 { background-position: -256px -256px; width: 64px; height: 64px; }
.sm.benamix-sm-sad { background-position: -320px -256px; width: 64px; height: 64px; }
.sm.benamix-sm-scare { background-position: -384px -256px; width: 64px; height: 64px; }
.sm.benamix-sm-serious { background-position: -0px -320px; width: 64px; height: 64px; }
.sm.benamix-sm-shocked { background-position: -64px -320px; width: 64px; height: 64px; }
.sm.benamix-sm-sick { background-position: -128px -320px; width: 64px; height: 64px; }
.sm.benamix-sm-sleepy { background-position: -192px -320px; width: 64px; height: 64px; }
.sm.benamix-sm-smart { background-position: -256px -320px; width: 64px; height: 64px; }
.sm.benamix-sm-surprised-1 { background-position: -320px -320px; width: 64px; height: 64px; }
.sm.benamix-sm-surprised-2 { background-position: -384px -320px; width: 64px; height: 64px; }
.sm.benamix-sm-surprised-3 { background-position: -0px -384px; width: 64px; height: 64px; }
.sm.benamix-sm-surprised-4 { background-position: -64px -384px; width: 64px; height: 64px; }
.sm.benamix-sm-surprised { background-position: -128px -384px; width: 64px; height: 64px; }
.sm.benamix-sm-suspicious { background-position: -192px -384px; width: 64px; height: 64px; }
.sm.benamix-sm-tongue { background-position: -256px -384px; width: 64px; height: 64px; }
.sm.benamix-sm-vain { background-position: -320px -384px; width: 64px; height: 64px; }
.sm.benamix-sm-wink-1 { background-position: -384px -384px; width: 64px; height: 64px; }
.sm.benamix-sm-wink { background-position: -0px -448px; width: 64px; height: 64px; }

.emo.xsm{
  display: inline-block;
  background: url('./assets/img/xsm.png') no-repeat;
  overflow: hidden; text-indent: -9999px;
  text-align: left;
  margin-bottom: -6px;
}

.xsm.benamix-xsm-angel { background-position: -0px -0px; width: 24px; height: 24px; }
.xsm.benamix-xsm-angry-1 { background-position: -24px -0px; width: 24px; height: 24px; }
.xsm.benamix-xsm-angry { background-position: -48px -0px; width: 24px; height: 24px; }
.xsm.benamix-xsm-arrogant { background-position: -72px -0px; width: 24px; height: 24px; }
.xsm.benamix-xsm-bored { background-position: -96px -0px; width: 24px; height: 24px; }
.xsm.benamix-xsm-confused { background-position: -120px -0px; width: 24px; height: 24px; }
.xsm.benamix-xsm-cool-1 { background-position: -144px -0px; width: 24px; height: 24px; }
.xsm.benamix-xsm-cool { background-position: -0px -24px; width: 24px; height: 24px; }
.xsm.benamix-xsm-crying-1 { background-position: -24px -24px; width: 24px; height: 24px; }
.xsm.benamix-xsm-crying-2 { background-position: -48px -24px; width: 24px; height: 24px; }
.xsm.benamix-xsm-crying { background-position: -72px -24px; width: 24px; height: 24px; }
.xsm.benamix-xsm-cute { background-position: -96px -24px; width: 24px; height: 24px; }
.xsm.benamix-xsm-embarrassed { background-position: -120px -24px; width: 24px; height: 24px; }
.xsm.benamix-xsm-emoji { background-position: -144px -24px; width: 24px; height: 24px; }
.xsm.benamix-xsm-greed { background-position: -0px -48px; width: 24px; height: 24px; }
.xsm.benamix-xsm-happy-1 { background-position: -24px -48px; width: 24px; height: 24px; }
.xsm.benamix-xsm-happy-2 { background-position: -48px -48px; width: 24px; height: 24px; }
.xsm.benamix-xsm-happy-3 { background-position: -72px -48px; width: 24px; height: 24px; }
.xsm.benamix-xsm-happy-4 { background-position: -96px -48px; width: 24px; height: 24px; }
.xsm.benamix-xsm-happy-5 { background-position: -120px -48px; width: 24px; height: 24px; }
.xsm.benamix-xsm-happy-6 { background-position: -144px -48px; width: 24px; height: 24px; }
.xsm.benamix-xsm-happy-7 { background-position: -0px -72px; width: 24px; height: 24px; }
.xsm.benamix-xsm-happy { background-position: -24px -72px; width: 24px; height: 24px; }
.xsm.benamix-xsm-in-love { background-position: -48px -72px; width: 24px; height: 24px; }
.xsm.benamix-xsm-kiss-1 { background-position: -72px -72px; width: 24px; height: 24px; }
.xsm.benamix-xsm-kiss { background-position: -96px -72px; width: 24px; height: 24px; }
.xsm.benamix-xsm-laughing-1 { background-position: -120px -72px; width: 24px; height: 24px; }
.xsm.benamix-xsm-laughing-2 { background-position: -144px -72px; width: 24px; height: 24px; }
.xsm.benamix-xsm-laughing { background-position: -0px -96px; width: 24px; height: 24px; }
.xsm.benamix-xsm-muted { background-position: -24px -96px; width: 24px; height: 24px; }
.xsm.benamix-xsm-nerd { background-position: -48px -96px; width: 24px; height: 24px; }
.xsm.benamix-xsm-sad-1 { background-position: -72px -96px; width: 24px; height: 24px; }
.xsm.benamix-xsm-sad-2 { background-position: -96px -96px; width: 24px; height: 24px; }
.xsm.benamix-xsm-sad { background-position: -120px -96px; width: 24px; height: 24px; }
.xsm.benamix-xsm-scare { background-position: -144px -96px; width: 24px; height: 24px; }
.xsm.benamix-xsm-serious { background-position: -0px -120px; width: 24px; height: 24px; }
.xsm.benamix-xsm-shocked { background-position: -24px -120px; width: 24px; height: 24px; }
.xsm.benamix-xsm-sick { background-position: -48px -120px; width: 24px; height: 24px; }
.xsm.benamix-xsm-sleepy { background-position: -72px -120px; width: 24px; height: 24px; }
.xsm.benamix-xsm-smart { background-position: -96px -120px; width: 24px; height: 24px; }
.xsm.benamix-xsm-surprised-1 { background-position: -120px -120px; width: 24px; height: 24px; }
.xsm.benamix-xsm-surprised-2 { background-position: -144px -120px; width: 24px; height: 24px; }
.xsm.benamix-xsm-surprised-3 { background-position: -0px -144px; width: 24px; height: 24px; }
.xsm.benamix-xsm-surprised-4 { background-position: -24px -144px; width: 24px; height: 24px; }
.xsm.benamix-xsm-surprised { background-position: -48px -144px; width: 24px; height: 24px; }
.xsm.benamix-xsm-suspicious { background-position: -72px -144px; width: 24px; height: 24px; }
.xsm.benamix-xsm-tongue { background-position: -96px -144px; width: 24px; height: 24px; }
.xsm.benamix-xsm-vain { background-position: -120px -144px; width: 24px; height: 24px; }
.xsm.benamix-xsm-wink-1 { background-position: -144px -144px; width: 24px; height: 24px; }
.xsm.benamix-xsm-wink { background-position: -0px -168px; width: 24px; height: 24px; }
